:root {
  --bg-color: #202142;
  --links-col: hsl(317, 100%, 54%);
  --white-col: #ffff;
  --thumb-hov: rgba(255, 20, 189, 0.8);
  --logo-size: 2rem;
  --hov-bg: hsl(323, 21%, 16%);
}
*,
:is(::before, ::after) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nunito Sans;
}
body {
  background: var(--bg-color);
}
section {
  padding-inline: 7%;
  padding-top: 2rem;
  min-height: 100%;
  /* padding-bottom: 2rem; */
}
.hero-section {
  padding-top: 10rem;
  animation: LoadCes 4s forwards ease-in-out;
}

@keyframes LoadCes {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}
@media only screen and (max-width: 890px) {

.flex-container {
  justify-content: center;
    gap: 1rem
}
}
.text-content {
  max-width: 65ch;
}
.text-content p {
  color: var(--white-col);
}
.hero-content h1 {
  color: var(--white-col);
  font-weight: 650;
  font-size: calc(var(--logo-size) + 0.5rem);
}
#name {
  color: var(--links-col);
  font-size: var(--logo-size);
}
#Date,
#milliseconds {
  font-weight: 650;
  font-size: calc(var(--logo-size) + 0rem);
  color: var(--links-col);
}
.text-styled h3 {
  font-size: calc(var(--logo-size));
  color: var(--links-col);
}


.action-btn {
  margin-top: 20px;
  padding-block: 1em;
}
.dates {
  margin-top: 20px;
  padding-block: 1em;
}
.dates .flex-btn {
  display: flex;
  gap: 0.8rem;
}
.flex-btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  text-decoration: none;
  color: var(--links-col);
  padding: 1rem;
  width: 30px;
  text-align: center;
  height: 30px;
  font-size: 1em;
  border-radius: 50%;
  border: 2px solid var(--links-col);
  position: relative;
  overflow: hidden;
}
.flex-btn a i {
  transition: transform 1s ease;
}
.flex-btn a:hover i {
  transform: scale(1.13);
}
.action-btn .repos,
.repos {
  display: inline-block;
  padding: 0.5em 30px;
  text-align: center;
  background: var(--links-col);
  color: #202142;
  border: none;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 600;
  overflow: hidden;
  position: relative;
}
span {
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: var(--bg-color);
  animation: ripple 1s ease-in-out;
  pointer-events: none;
}
.red {
  color: white;
}
.hero-image {
  position: relative;
  bottom: 20px;
  cursor: pointer;
  overflow: hidden;
}
.hero-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--links-col);
  object-fit: cover;
}

.flex-btn {
  display: flex;
}
