:root {
  --bg-color: #202142;
  --links-col: hsl(317, 100%, 54%);
  --white-col: #ffff;
  --thumb-hov: rgba(255, 20, 189, 0.8);
  --logo-size: 2rem;
  --hov-bg: hsl(323, 21%, 16%);
}
*,
:is(::before, ::after) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nunito Sans;
}
body {
  background: var(--bg-color);
}

.container {
   display: flex;
   justify-content: center;
   align-items: center;
 flex-direction: column;
   min-height: 100vh;
  gap: 2.4rem;
}

@keyframes LoadCes {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.text-content {
  max-width: 65ch;
}
.text-content p {
  color: var(--white-col);
}
.hero-content h1 {
  color: var(--white-col);
  font-weight: 650;
  font-size: calc(var(--logo-size) + 0.5rem);
}
#name {
  color: var(--links-col);
  font-size: var(--logo-size);
}
#Date,
#milliseconds {
  font-weight: 650;
  font-size: calc(var(--logo-size) + 0rem);
  color: var(--links-col);
}
.text-styled h3 {
  font-size: calc(var(--logo-size));
  color: var(--links-col);
}


.action-btn {
  margin-top: 20px;
  padding-block: 1em;
}
.dates {
  margin-top: 20px;
  padding-block: 1em;
}
.dates .flex-btn {
  display: flex;
flex-direction: column;
  gap: 0.8rem;
}

.action-btn .repos,
.repos {
  display: inline-block;
  padding: 0.5em 30px;
  text-align: center;
  background: var(--links-col);
  color: #202142;
  border: none;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 600;
  overflow: hidden;
  position: relative;
}

.hero-image {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.hero-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--links-col);
  object-fit: cover;
}

